@font-face {
    font-family: Panton; /* Гарнитура шрифта */
    src: url(/fonts/Panton-Regular.ttf); /* Путь к файлу со шрифтом */
   }
header {
height:70px;
display:flex;
background-color:#d0112b;
}
html, body{
    font-family: 'Panton', 'Verdana', sans-serif;
    font-weight: 400;
}
body {
    margin:0px;
}

.logo {
    max-height:70px;
}

.menu {
    height:70px;

}

.basket {
    height:70px;
}
