@font-face {
    font-family: Panton; /* Гарнитура шрифта */
    src: url(/fonts/Panton-Regular.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
   font-family: BebasNeue; /* Гарнитура шрифта */
   src: url(/fonts/BebasNeue-Bold.ttf); /* Путь к файлу со шрифтом */
}
header {
height:70px;
display:flex;
background-color:#d0112b;
}
html, body{
    font-family: 'Panton', 'Verdana', sans-serif;
    font-weight: 400;
}
body {
    margin:0px;
}

.logo {
    max-height:70px;
}

.menu {
    height:70px;

}

.basket {
    height:70px;
}

.slider img{
    max-width: 100%;
}
h2 {
    font-size: 50px;
    font-family: 'BebasNeue', sans-serif;
    text-align: center;
    margin: 0.8em 0;
}

.main-text{
    max-width: 1200px;
    line-height: 1.5;
    font-size: 18px;
    margin: 0 auto 2em auto;
    
}
.main-text p{
    text-align: center;
    margin:0;
    padding:0;
}